<div id="folowing_list_1">
  <%- @friends.each do |friend| -%>
  <div<%- if @friends.first == friend -%> class="first" <%- end -%> id="<%= friend.username %>">
    <%= image_tag ("avatar.jpg", :alt => "my logo") %>
    <div class="twit_message_container">
     <h3 style="margin:0px;"><%= link_to friend.username, user_twits_path(friend.username) %></h3>
       <%- if friend.twits.length > 0 -%>
     <%= h friend.twits.last.message %><br />
         <p>
         <%= distance_of_time_in_words_to_now(friend.twits.last.created_at) %> ago
         </p>       
     <%- end -%>
    </div>
	<div class="button_container">
         <input type="button" name="<%= friend.username %>" class="button ajax_button" value="Stop following" />
       </div>
     <div class="clear"></div>
   </div>
  <%- end -%>
</div>

<script type="text/javascript">
  $(function() {
    $('.ajax_button').click(function() {
     $.ajax({
         type: "POST",
         url: "/remove_friend/" + $(this).attr('name'),
         success: function(msg){
         $('#' + msg).slideUp('slow');
         }
       });
     })
   });
</script>
